.video {
    background-color: black;
    height: 20rem;
    width: 30rem;
    margin-left: 15rem;
    color: white;
    z-index: 999;
    position: absolute;
}

.card {
    background-color: #FFFFFF;
    position: absolute;
    height: 40rem;
    width: 50rem;
    margin-left: 40rem;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nous {
    display: flex;
    align-items: center;
    height: 100vh;
}

.text {
    font-size: 25px;
    color: #7E0000;
    text-align: end;
    font-weight: 100;
    margin-right: 4rem;
    margin-left: 20rem;
}