html,
body {
  padding: 0;
  margin: 0;
  font-family: Cormorant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "BrittanySignature";
  src: url("/fonts/brittany_signature/BrittanySignature.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  src: url("/fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf");
  font-style: medium;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  src: url("/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf");
  font-style: bold;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-LightItalic";
  src: url("/fonts/Montserrat/static/Montserrat-LightItalic.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("/fonts/Montserrat/static/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url("/fonts/Montserrat/static/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("/fonts/Montserrat/static/Montserrat-Light.ttf");
}